data/bluebook-for-bulldozers/Data Dictionary.xlsx
data/bluebook-for-bulldozers/Machine_Appendix.csv
data/bluebook-for-bulldozers/random_forest_benchmark_test.csv
data/bluebook-for-bulldozers/test_predictions.csv
data/bluebook-for-bulldozers/Test.csv
data/bluebook-for-bulldozers/train_tmp.csv
data/bluebook-for-bulldozers/Train.7z
data/bluebook-for-bulldozers/Train.csv
data/bluebook-for-bulldozers/Train.zip
data/bluebook-for-bulldozers/TrainAndValid.7z
data/bluebook-for-bulldozers/TrainAndValid.csv
data/bluebook-for-bulldozers/TrainAndValid.zip
data/bluebook-for-bulldozers/Valid.7z
data/bluebook-for-bulldozers/Valid.csv
data/bluebook-for-bulldozers/ValidSolution.csv
data/bluebook-for-bulldozers/Valid.zip
data/bluebook-for-bulldozers/median_benchmark.csv
data/bluebook-for-bulldozers/train_temp.csv